html {
  scroll-behavior: smooth;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

/* work-sans-regular - latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/work-sans-v9-latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v9-latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-500 - latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/work-sans-v9-latin-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v9-latin-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-600 - latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/work-sans-v9-latin-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v9-latin-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-italic - latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/work-sans-v9-latin-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v9-latin-ext-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-500italic - latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('../fonts/work-sans-v9-latin-ext-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v9-latin-ext-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-600italic - latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('../fonts/work-sans-v9-latin-ext-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/work-sans-v9-latin-ext-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* space-grotesk-regular - latin-ext */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/space-grotesk-v3-latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/space-grotesk-v3-latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-grotesk-500 - latin-ext */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/space-grotesk-v3-latin-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/space-grotesk-v3-latin-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-grotesk-600 - latin-ext */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/space-grotesk-v3-latin-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/space-grotesk-v3-latin-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-grotesk-700 - latin-ext */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/space-grotesk-v3-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/space-grotesk-v3-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Work Sans', sans-serif;
    color:#2A384D;
    height: 100%;
    font-size: 16px;
    max-width: 1440px;
    margin: auto;
}

img {
  /*border-radius: 4px;*/
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;  /* Preferred icon size: 24px; */
  display: inline-block;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-right: 0.3rem;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.row {
  margin:0;
  max-width: 100%;
}

/*.limited {
  max-width: 1440px;
  margin:auto;
}*/


/* Header Stylings */

.intro {
  height: 100%;
  cursor: pointer;
  margin: 0;
}

.intro:hover {
	color: #0062FF;
}

.description {
  height: 100%;
  color: #0062FF;
  display: inline-block;
  padding: 1.75rem;
}

@media screen and (min-width: 40em) {
.description {
  padding: 1.75rem 0 0 1.75rem;
}
}

#name2, #designer2, #inventor2, #illustrator2, #dude2 {
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 400ms, visibility 400ms;
            transition: opacity 400ms, visibility 400ms;
}

#name:hover + #name2 {
  display: block;
  visibility: visible;
    opacity: 1;
    animation: moveToRight 0.4s;
}
   
#designer:hover + #designer2 {
  display: block;
  visibility: visible;
    opacity: 1;
    animation: moveToRight 0.4s;
}

#inventor:hover + #inventor2 {
  display: block;
  visibility: visible;
    opacity: 1;
    animation: moveToRight 0.4s;
}

#illustrator:hover + #illustrator2 {
  display: block;
  visibility: visible;
    opacity: 1;
    animation: moveToRight 0.4s;
}

#dude:hover + #dude2 {
  display: block;
  visibility: visible;
    opacity: 1;
    animation: moveToRight 0.4s;
}

 @keyframes moveToRight {
     0% {
        opacity: 0;
        transform: translateX(-1rem);
      }
     100% {
        opacity: 1;
        transform: translateX(0rem);
      }
    }

/* Text Styles */

p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

ul {
  margin-left: 0rem;
}
  
li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}

.h1 {
  /*font-family: 'Work Sans', sans-serif;*/
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 0.9;
  letter-spacing: -0.15rem;
  /*margin: 0.3em 0;*/
}

.h2 {
  /*font-family: 'Work Sans', sans-serif;*/
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05rem;
  margin-bottom: 1rem;
}

.h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: -0.05rem;
  margin-bottom: 1.25rem;
}

.h6 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 500;
  margin: 0.75rem 0;
}

.body-large {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.05rem;
  margin-bottom: 1.5rem;
}

.small-text {
  font-size: 0.75rem;
  line-height: 1rem;
}

@media screen and (min-width: 40em) {
  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: -0.025rem;}
  li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0;}
  .h1 {
    font-size: 8rem;
    line-height: 0.9;
    letter-spacing: -0.3rem;
    margin:0;}
  .h2 {
    font-size: 4rem;
    line-height: 1;
    /*letter-spacing: -0.15rem;*/}
  .h3 {
    font-size: 3rem;
    line-height: 3.25rem;
    letter-spacing: -0.1rem;}
  .body-large {
    font-size: 2rem;
    line-height: 2.5rem;}
  .small-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
}

a {
  color: #2A384D;
}

a:hover {
  /*text-decoration: underline;*/
  color: #0062FF;
 }

.a-active {
  color: #0062FF;
 }

.a-active:hover {
  color: #2A384D;
  /*text-decoration: underline;*/
}

.a-inactive {
  color: #2A384D;
 }

.a-inactive:hover {
  color: #0062FF;
  /*text-decoration: underline;*/
}

.bullets {
  margin-left:1.5rem;
}

.divider { 
 height: .2rem;
 width: 100%;
 background-color:#2A384D;
}

@media screen and (min-width: 40em) {
  .divider { 
   height: .4rem;}
}


/* Style the navbar */

#logo-sticky {
  position:fixed;
  top:0;
  width:3.5rem;
  margin: 1rem;
  z-index: 100;
  border-radius: 100%;
  background-color: #0062FF;
  text-align: center;
}

#logo-sticky span {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: white;
}

#logo-sticky:hover {
  background-color: #2A384D;
  cursor: pointer;
  animation: logoHover 0.2s;
}

 @keyframes logoHover {
     0% {
        background-color: #0062FF;
      }
     100% {
        background-color: #2A384D;
      }
    }

#menumobile {
  float: right;
  width: 100%
  right:0;
  top: 0;
  margin: 16px;
  z-index: 100;
  border-radius: 100%;
}

.topmenu {
  text-align: right;
  margin:0;
}

.topmenu ul {
  padding-right: 1rem;
}

.topmenu li {
	display: inline-block;
}

.topmenu a {
	text-align: left;
}

.menuitem {
  padding: 1rem 2rem;
  margin: 0.75rem 0;
  cursor:pointer;
  /*border-bottom: 4px solid white;*/
}

.menuitem span {
  color:#2A384D;
}

.menuitem:hover {
  color: #0062FF;
  /*border-bottom: 4px solid #0062FF;
  background-color: #f5f6f7;*/
}


#menu2 {
  min-width:160px !important;
  margin:0;
  left: -6rem;
  top: 3rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 5rem;
  background-color: #fff;
  /*border-radius: 4px;*/
  min-width: 216px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16), 0px 0px 2px rgba(0, 0, 0, 0.16);
  z-index: 10;
}

 @keyframes moveDown {
     0% {
        opacity: 0;
        transform: translateY(-1rem);
      }
     100% {
        opacity: 1;
        transform: translateY(0rem);
      }
    }

.sticky.is-stuck {
  position: fixed;
  z-index: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: .75rem 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f5f6f7;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  animation: moveDown 0.2s;
}
/*
.dropdown:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16), 0px 0px 2px rgba(0, 0, 0, 0.16);
  border-radius: 100%;
}
*/

.currentpage {
  border-left: 4px solid #0062FF;
}

.currentpage a {
	color: #0062FF;
}

.home {
    height: 80vh;
    position: relative;
}

.vertical-center {
  margin: 0;
  position: inherit;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.project-tile {
   overflow:auto;
}

.tooltip {
  background-color: #111D29;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 1.5rem;
  position: absolute;
  z-index: 10;
  top: calc(100% + 0.5rem);
  max-width: 25rem !important;
  /*border-radius: 4px;*/
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16), 0px 0px 2px rgba(0, 0, 0, 0.16);}

  .tooltip::before {
    border-color: transparent transparent #111D29;}

.bottom-links {
  padding: 0rem 0rem 4rem 0rem;
}

@media screen and (min-width: 40em) {
.p-description {
  padding: 1rem;
}
}

.drop-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16), 0px 0px 2px rgba(0, 0, 0, 0.16);
}

#main {
  width: 100%;
  min-height: calc(100vh - 9rem);
}

.footer-container {
  height: 100%
}

.footer {
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.footer-item-right p, .footer-item-left p {
  text-align: center;
}

@media screen and (min-width: 40em) {
  .footer-item-left p {
    text-align: left!important;}
  .footer-item-right p {
    text-align: right!important;}
}


/* Spacing */


.spacing-s {
  margin-bottom: 0.5rem;
}

.spacing-m {
  margin-bottom: 2rem;
}

.spacing-l {
  margin-bottom: 4rem;
}

.spacing-xl {
  margin-bottom: 6rem;
}

.spacing-xxl {
  margin-bottom: 12rem;
}

@media screen and (min-width: 40em) {

.spacing-s {
  margin-bottom: 2rem;
}

.spacing-m {
  margin-bottom: 4rem;
}

.spacing-l {
  margin-bottom: 8rem;
}
.spacing-xl {
  margin-bottom: 12rem;
}
.spacing-xxl {
  margin-bottom: 20rem;
}
}

.image {
  margin: 1rem 0 1rem 0;
}

.hero-image{
  width:100%;
  height: auto;
  border-radius: 0px;

}

@media screen and (min-width: 40em) {
.hero-image {
  height: auto;
  /*border-radius: 4px;*/
}
}

.nav-desktop {
  padding:0 6rem 0 0;
  z-index: 0;
}


/* Image overlay*/

.image-hover-wrapper {
  position: relative;
}

.image-hover-wrapper a {
  display: inline-block;
  letter-spacing: normal;
  line-height: initial;
  margin: 0;
  padding: 0;
  position: relative;
}

.image-hover-wrapper a img {
  float: left;
  overflow: hidden;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 40em) {
.image-hover-wrapper a img {
  height: auto;
}
}


.image-hover-wrapper a .image-hover-wrapper-reveal {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: inline;
  height: 100%;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 80;
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover {
  opacity: 1;
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /*border-radius: 4px;*/
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
  opacity: 1;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal p {
  bottom: 0;
  display: block;
  opacity: 0;
  position: absolute;
  text-align: left;
  margin: 0;
  padding-left: 1.5rem;
  line-height: 1.75rem;
  width: 100%;
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}




/* Image carousell*/

/*.orbit-container {
  overflow: visible;
}*/

.orbit-previous, .orbit-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  background-color: transparent;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16), 0px 4px 2px rgba(0, 0, 0, 0.16);}
  }

  [data-whatinput='mouse'] .orbit-previous, [data-whatinput='mouse'] .orbit-next {
    outline: 0; }
  .orbit-previous:hover, .orbit-next:hover, .orbit-previous:active, .orbit-next:active, .orbit-previous:focus, .orbit-next:focus {
    background: rgba(42, 56, 77, 0.3);;
  }

.orbit-previous {
  left: 0; }

.orbit-next {
  left: auto;
  right: 0; }

.orbit-bullets {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center; }
  [data-whatinput='mouse'] .orbit-bullets {
    outline: 0; }
  .orbit-bullets button {
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
    background-color: rgba(42, 56, 77, 0.3);
    border-radius: 100%; }
    .orbit-bullets button:hover {
      background-color: #2A384D; }
    .orbit-bullets button.is-active {
      background-color: #2A384D; }


/*Video*/

.video-wrap {
  padding-bottom:56.25%;
  position:relative;
  display:block;
  width: 100%;
  /*border-radius: 4px;*/
  margin: 2rem 0 3rem 0;
}

.video-iframe {
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  /*border-radius: 4px;*/
}

.video-container {
  width:100%;
}

.video {
  position: relative;
  right: -50%;
  transform: translateX(-50%);
  max-height: 90vh;
}


.pullout {
  background-color: #0062FF;
  margin-bottom: 8rem;
}

.pullout p {
  color: #fff;
  text-align: center;
}

.pullout-content {
  padding: 4rem 0;
}

.pullquote {
  border-left: 4px solid #0062FF;
  margin-bottom: 1rem;
}

.quote {
  padding: .75rem 0 .25rem 1.5rem;
}

.quote p {
  margin-bottom:0;
}

@media screen and (min-width: 40em) {
.pullout {
  margin-bottom: 12rem;
  /*border-radius: 4px;*/
}

.pullout-content {
  padding: 8rem 0;
}

.pullquote {
  padding: 0rem;
}

.quote {
  padding: 1rem 0 1rem 2rem;}
}

table {
  font-size: .75rem;
  line-height: 1rem;
  overflow: scroll;
}

@media screen and (min-width: 40em) {
  table {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0;}
}

td {
  padding: 1rem .5rem !important; 
}

th {
  font-weight: 600 !important;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color:#2A384D;
}

@media screen and (min-width: 40em) {
  th {
    font-size: 1rem;}
}

figcaption {
  text-align: center;
  font-size: .75rem;
  line-height: 1rem;
  opacity: .75;
}

@media screen and (min-width: 40em) {
  figcaption {
    font-size: 1rem;
    line-height: 1.25rem;}
  }




/*Masonry styling*/

.masonry-css {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media screen and (min-width: 50em) {
  .masonry-css {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

@media screen and (min-width: 68.75em) {
  .masonry-css {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

.masonry-css-item {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 1rem;
}







/*


.lightbox-src img {
  width: 100%;
  cursor: pointer;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: white;
  perspective: 1000;
  z-index: 5;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 95vh;
  max-width: calc(95vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}

[class^="arrow"] {
  height: 200px;
  width: 50px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

[class^="arrow"]:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 15px;
}

.arrowr {
  right: 0;
}

.arrowr:after {
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}

.arrowl {
  left: 0;
}

.arrowl:after {
  border-left: 4px solid white;
  border-top: 4px solid white;
}

.close {
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  background: white;
  margin: 24px;
  cursor: pointer;
}

.close:after,
.close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 100%;
  background: #2A384D;
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.title {
  font-size: 20px;
  color: #000;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}
*/









/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.9);
  max-height: 100vh;
}

/* Modal Content */
.modal-content {
  position: relative;
  padding-top: 2rem;
  margin: auto;
  padding: 0;
  height: 90vh;
}


/* Caption text */
.caption-container {
  width: 100%;
  text-align: center;
  color: #2A384D;
  background-color: white;
  height: 3rem;
}

/* Modal image */
.modal-image {
  height: calc(100vh - 8rem);
}

/* The Close Button */
.close {
  color: #2A384D;
  position: absolute;
  top: 3rem;
  right: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 10;
}

.close:hover,
.close:focus {
  color: #0062FF;
  text-decoration: none;
  cursor: pointer;
  z-index: 7;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

.mySlides img {
  position: absolute;
  top: calc(50% + 1.5rem);
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height:calc(100% - 3rem);
  max-width:100%;
  z-index: 6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16), 0px 0px 2px rgba(0, 0, 0, 0.16);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.5rem;
  margin-top: -50px;
  color: #2A384D;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 10;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(42, 56, 77, 0.05);
  color: #0062FF;
}

.demonav {
  height: 5rem;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0px;
  margin: auto;
  display: block;
  padding: 0.5rem;
  overflow: auto;
  white-space: nowrap;
}

.demo-nav {
  -webkit-overflow-scrolling: touch;
}

img.demo {
  opacity: 0.6;
  height: 3rem;
  width: 3rem;
  margin: 0.25rem 0;
  display:inline-block;
}

.active-img,
.demo:hover {
  opacity: 1;
}

img.hover-image {
  transition: 0.3s;
}

.hover-image:hover {
  cursor: pointer;
  opacity: 0.6;
}


.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}